<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="{{ eleventy.generator }}" />

    <title>{{ title or site.name }} | {{ site.name }}</title>
    <meta name="description" content="{{ pkg.description }}" />

    <link rel="canonical" href="{{ page.url | htmlBaseUrl(pkg.author.url) }}" />
    <link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="/feed.xml">

    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <div class="container cover stack">
      <header role="banner">
        <a href="/">{{ site.name }}</a>
      </header>

      <main class="[ stack ] [ flex-auto ]" role="main">
        <h1>{{ title or site.name }}</h1>

        {{ content | safe }}

        <p><a href="feed.xml">Feed</a></p>
      </main>

      <footer class="stack" role="contentinfo">
        <p>A daily set of constraints to inspire your new musical composition. Inspired by <a href="https://whattocompose.com">What to Compose</a></p>
        <p>Yet another <a href="{{ pkg.homepage }}">project</a> by <a href="{{ pkg.author.url }}">{{ pkg.author.name }}</a>.</p>
      </footer>
    </div>
  </body>
</html>
