---
layout: base
tags:
  - challenge
eleventyComputed:
  title: "{{ today.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) }}"
  date: "{{ today.toISOString() }}"
---

<dl>
  <dt>Melody</dt>
  <dd>
    {% set scale = scale|pick %}
    {{ scale.name }} scale
    {% if scale.description %}
      <br>{{ scale.description }}
    {% endif %}
  </dd>
  <dd>
    {% set melody = melody|pick %}
    {{ melody.name }}
    {% if melody.description %}
      <br>{{ melody.description }}
    {% endif %}
  </dd>

  <dt>Harmony</dt>
  <dd>
    {% set harmony =  harmonicLanguage | pick %}
    {{ harmony.name }}
    {% if harmony.description %}
      <br>{{ harmony.description }}
    {% endif %}
  </dd>

  <dt>Rhythm</dt>
  <dd>{{ tempo | pick }} BPM</dd>
  <dd>{{ meter.numerator | pick }}/{{ meter.denominator | pick }}</dd>

  {% set rhythm = rhythmicFeature | pick %}

  {% if rhythm.name %}
    <dd>
      {{ rhythm.name }}
      {% if rhythm.description %}
        <br>{{ rhythm.description }}
      {% endif %}
    </dd>
  {% endif %}

  <dt>Form</dt>
  <dd>{{ form }}</dd>

  {% set arrangement = arrangementFeature | pick %}

  {% if arrangement.name %}
    <dd>
      {{ arrangement.name }}
      {% if arrangement.description %}
        <br>{{ arrangement.description }}
      {% endif %}
    </dd>
  {% endif %}

  {# <dt>Texture</dt>
  <dd>
    {% set texture = textures|pick %}
    {{ texture.name }}
    {% if texture.description %}
      <br>{{ texture.description }}
    {% endif %}
  </dd> #}
</dl>
