---
layout: base
tags:
  - challenge
eleventyNavigation:
  key: Home
  order: -1
eleventyComputed:
  title: "{{ today.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) }}"
  date: "{{ today.toISOString() }}"
---

<dl>
  <dt>Melody</dt>
  <dd>{{ melody | pick }}</dd>

  <dt>Harmony</dt>
  <dd>{{ scale | pick }}</dd>
  <dd>{{ harmonicLanguage | pick }}</dd>

  <dt>Rhythm</dt>
  <dd>{{ tempo | pick }} BPM</dd>
  <dd>{{ meter.numerator | pick }}/{{ meter.denominator | pick }}</dd>

  {% set rhyFeat = rhythmicFeature | pick %}

  {% if rhyFeat %}
    <dd>{{ rhyFeat }}</dd>
  {% endif %}

  <dt>Form</dt>
  <dd>{{ form }}</dd>

  {% set arrFeat = arrangementFeature | pick %}

  {% if arrFeat %}
    <dd>{{ arrFeat }}</dd>
  {% endif %}

  <dt>Texture</dt>
  <dd>{{ textures | pick }}</dd>
</dl>
