---
layout: default
tags:
  - challenge
eleventyNavigation:
  key: Home
  order: -1
eleventyComputed:
  title: "{{ today.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) }}"
  date: "{{ today.toISOString() }}"
---

<h2>Melody</h2>

<dl>
  <dt>Melodic material</dt>
  <dd>{{ melody | pick }}</dd>
</dl>

<h2>Harmony</h2>

<dl>
  <dt>Key</dt>
  <dd>{{ key | pick }}</dd>
  <dt>Harmonic language</dt>
  <dd>{{ harmonicLanguage | pick }}</dd>
</dl>

<h2>Rhythm</h2>

<dl>
  <dt>Tempo</dt>
  <dd>{{ tempo | pick }} BPM</dd>
  <dt>Meter</dt>
  <dd>{{ meter.numerator | pick }}/{{ meter.denominator | pick }}</dd>

  {% set rhyFeat = rhythmicFeature | pick %}

  {% if rhyFeat %}
    <dt>Rhythmic feature</dt>
    <dd>{{ rhyFeat }}</dd>
  {% endif %}
</dl>

<h2>Arrangement</h2>

<dl>
  <dt>Phrase structure</dt>
  <dd>
    <ol type="A">
      {% for section in form | list | unique %}
        <li>{{ phrase | pick }}</li>
      {% endfor %}
    </ol>
  </dd>

  <dt>Form</dt>
  <dd>{{ form }}</dd>

  {% set arrFeat = arrangementFeature | pick %}

  {% if arrFeat %}
    <dt>Arrangement feature</dt>
    <dd>{{ arrFeat }}</dd>
  {% endif %}
</dl>

<h2>Texture</h2>

<dl>
  <dt>Texture</dt>
  <dd>{{ textures | pick }}</dd>
  <dt>Emotion</dt>
  {% set emotion1 = emotions | pick %}
  {% set emotion2 = emotions | pick %}
  <dd>{{ [emotion1, emotion2] | unique | join(' + ')}}</dd>
</dl>
